{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}


{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=meta.app_label %}">{{ meta.app_label }}</a>
&rsaquo; {{ meta.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
 <div class="module" id="changelist">
  <form id="changelist-form" action="" method="post" novalidate="">
   {% csrf_token %} 
   {% if actions %}
    <div class="actions">
     <label>Action:
      <select name="action">
       <option value="" selected="selected">---------</option>
       {% for action, verbose in actions %}
       <option value="{{ action }}">{{ verbose }}</option>
       {% endfor %}
      </select>
     </label>
     <input class="select-across" name="select_across" type="hidden" value="0">
     <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>

     <script type="text/javascript">var _actions_icnt="0";</script>
     <span class="action-counter" style="display: inline;">0 of 2 selected</span>
    </div>
   {% endif %}

   <div class="results">
    <table id="result_list">
     <thead>
      <tr>
       {% if actions %}
       <th scope="col" class="action-checkbox-column">
        <div class="text"><span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span></div>
        <div class="clear"></div>
       </th>
       {% endif %}
       {% block names %}
       {% for name in results.names %}
        <th scope="col" class="column-{{ name }}">
         <div class="text"><span>{{ name }}</span></div>
         <div class="clear"></div>
        </th>
       {% endfor %}
       {% endblock names %}
      </tr>
     </thead>
     <tbody>
      {% block rows %}
      {% for row in results.rows %}
       <tr>
        {% if actions %}
        <td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="{{ row.1 }}"></td>
        {% endif %}
        {% for value in row|slice:"1:" %}

        <td>{{ value|safe }}</td>
        {% endfor %}
       </tr>
      {% endfor %}
      {% endblock rows %}
     </tbody>
    </table>
   </div>
   <p class="paginator">
    {% blocktrans with count=results.rows|length %}
    {{ count }} element(s)
    {% endblocktrans %}
   </p>
  </form>
 </div>
</div>
{% endblock %}
