{% extends "pony_admin/changelist.html" %}
{% load i18n pony_admin_storage %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=meta.app_label %}">{{ meta.app_label }}</a>
{% if path %}
&rsaquo; <a href="?path=">{{ meta.verbose_name_plural|capfirst }}</a>
{% for dir_path, dir_name in paths %}
{% if forloop.last %}
&rsaquo; {{ dir_name }}
{% else %}
&rsaquo; <a href="?path={{ dir_path }}">{{ dir_name }}</a>
{% endif %}
{% endfor %}
{% else %}
&rsaquo; {{ meta.verbose_name_plural|capfirst }}
{% endif %}
</div>
{% endblock %}

{% block rows %}
{% if path %}
 <tr class="row1"><td></td><th><a href="?path={{ path|parent_dir }}">..</a></th></tr>
{% endif %}
{% for row in results.rows %}
<tr class="row{% if row.0.type == 'directory' %}1{% else %}2{% endif %}">
  {% if row.0.type == 'file' %}
  <td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="{{ row.0.path }}"></td>
  {% else %}
  <td></td>
  {% endif %}
  {% for value in row|slice:"1:" %}

  <td>{{ value|safe }}</td>
  {% endfor %}
 </tr>
{% endfor %}
{% endblock rows %}
